@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  font-family: "Quicksand";
  text-decoration: none;
  /* background-color: #18191a; */
}



.Page {
  font-family: "Quicksand";
  background-color: #18191a !important;
  padding: 10%;
  color: #e4e6eb;
  padding-left: 15%;
  padding-right: 15%;
  line-height: 25px;
  text-align: center;
}

.Me {
  max-width: 80%;
  display:inline-flex;
}

.HomepagePic {
  max-width: 50%;
}

.h2 {
  color: #f4d47c;
}

.List {
  /* padding-left: 10%; */
  line-height: 30px;
}

.GlobalText {
  color: #e4e6eb;
  background-color: #18191a;
  height: 100vh;
}

.MenuFont {
  color: #e4e6eb;
  text-decoration: none;
}

.Links {
  color: #e4e6eb;
  text-decoration: underline;
}
